
* {
  box-sizing: border-box;
}

body{
 margin: 0;
 background-color: #B7C4CF;

}


nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #2B4865;
  height: 120px;
  padding: 30px 25px;

}

.nav-img {
  width: 80px;
}

.ul-list {

  list-style: none;
  display: flex;

}

.ul-list > li {

  padding: 10px;
  color: #DDEBF8;
  font-weight: bold;
}

main {

padding: 60px 30px;
color: #06283D;
font-family: 'Montserrat', sans-serif;
}

h1 {

  margin: 0;
  font-size: 40px;
  font-size: 40px;
  letter-spacing: -0.06rem;
}

.main-list {

  margin-top: 50px;
}

.main-list > li {

  font-size: 20px;
  padding-block: 10px;
}

.main-list > li::marker {

  font-size: 1.5em;
}
